<app-navbar></app-navbar>
<div class="container allMessage">
    <mat-card>
    <mat-card-header>
        <mat-card-title style="justify-content: center;"class="form-elements allMessage">Update Old Message!!</mat-card-title>
    </mat-card-header>
    <!-- <div>
                <mat-form-field appearance="outline" formLabel="always" class="form-elements allMessage">
                    <mat-label>A/C Reg </mat-label>
                    <input matInput [(ngModel)]="messages.AC_Reg">
                  </mat-form-field>
        </div>
        <div>
                <mat-form-field appearance="outline"  formLabel="always" class="form-elements allMessage">
                    <mat-label>Flight </mat-label>
                    <input matInput [(ngModel)]="messages.Flight">
                  </mat-form-field>
        </div>
        <div>
            <mat-form-field  formLabel="always" appearance="outline" class="form-elements allMessage">
                <mat-label>Desk</mat-label>
                <input matInput [(ngModel)]="messages.Desk">
              </mat-form-field>
        </div>
        <div>
            <mat-form-field  formLabel="always" appearance="outline" class="form-elements allMessage">
                <mat-label>Desk Ctg</mat-label>
                <input matInput [(ngModel)]="messages.Desk_Ctg">
              </mat-form-field>
        </div>  
         <div>
            <mat-form-field  formLabel="always" appearance="outline" class="form-elements allMessage">
                <mat-label>Escalated</mat-label>
                <input matInput [(ngModel)]="messages.Escalated">
              </mat-form-field>
         </div> 
          <div>
            <mat-form-field appearance="outline"  formLabel="always" class="form-elements allMessage">
                <mat-label>Ack</mat-label>
                <input matInput [(ngModel)]="messages.Ack">
              </mat-form-field>
          </div>
          <div>
            <mat-form-field  formLabel="always" appearance="outline" class="form-elements allMessage">
                <mat-label>Ack By</mat-label>
                <input matInput [(ngModel)]="messages.Ack_By">
              </mat-form-field>
          </div>
          <div>
            <mat-form-field  formLabel="always" appearance="outline" class="form-elements allMessage">
                <mat-label>Received</mat-label>
                <input matInput [(ngModel)]="messages.Recieved">
              </mat-form-field>
          </div>
          <div>
            <mat-form-field  formLabel="always" appearance="outline" class="form-elements allMessage">
                <mat-label>Priority</mat-label>
                <input matInput [(ngModel)]="messages.Priority">
              </mat-form-field>
          </div> -->
          <div>
            <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
                <mat-label>A/C Reg </mat-label>
                <input matInput placeholder="A/C Reg " [(ngModel)]="messages.aircraftRegistration">
              </mat-form-field>
    </div>
    <br>
    <div>
            <mat-form-field appearance="outline"  floatLabel="always" class="form-elements allMessage">
                <mat-label>Flight </mat-label>
                <input matInput placeholder="Flight " [(ngModel)]="messages.flight">
              </mat-form-field>
    </div>
    <br>
    <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Desk</mat-label>
            <input matInput placeholder="Desk" [(ngModel)]="messages.desk">
          </mat-form-field>
    </div>
    <br>
    <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Desk Ctg</mat-label>
            <input matInput placeholder="Desk Ctg" [(ngModel)]="messages.deskCategory">
          </mat-form-field>
    </div>
    <br>
     <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Escalated</mat-label>
            <input matInput placeholder="Escalated" [(ngModel)]="messages.escalated">
          </mat-form-field>
     </div>
     <br>
      <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Ack</mat-label>
            <input matInput placeholder="Ack" [(ngModel)]="messages.acknowledge">
          </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field appearance="outline"  floatLabel="always" class="form-elements allMessage">
            <mat-label>Ack By</mat-label>
            <input matInput placeholder="Ack By" [(ngModel)]="messages.acknowledgedBy">
          </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Received</mat-label>
            <input matInput placeholder="Received" [(ngModel)]="messages.received">
          </mat-form-field>
      </div>
      <br>
      <div>
        <mat-form-field appearance="outline"  floatLabel="always" class="form-elements allMessage">
            <mat-label>Priority</mat-label>
            <input matInput placeholder="Priority" [(ngModel)]="messages.priority">
          </mat-form-field>
      </div>
      <br>
          <div class="form-elements allMessage button-size">
            <button mat-raised-button class="button-class" type="button" (click)="updateData()" style="color: white; background-color: black;">Update</button>
          </div>
    </mat-card>    
</div>

