<div class="container allMessage">
    <a mat-raised-button class="button-class" routerLink="/add-message">+ Add Message</a>
</div>
<div class="container allMessage">
<table mat-table [dataSource]="allMessages" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Meesage ID. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
  
      <ng-container matColumnDef="AC_Reg">
        <th mat-header-cell *matHeaderCellDef>AC_Reg</th>
        <td mat-cell *matCellDef="let element"> {{element.AC_Reg}} </td>
      </ng-container>
    
      <ng-container matColumnDef="Flight">
        <th mat-header-cell *matHeaderCellDef> Flight </th>
        <td mat-cell *matCellDef="let element"> {{element.Flight}} </td>
      </ng-container>
    
    
      <ng-container matColumnDef="Desk">
        <th mat-header-cell *matHeaderCellDef> Desk</th>
        <td mat-cell *matCellDef="let element"> {{element.Desk}} </td>
      </ng-container>
      <ng-container matColumnDef="Desk_Ctg">
          <th mat-header-cell *matHeaderCellDef> Desk_Ctg </th>
          <td mat-cell *matCellDef="let element"> {{element.Desk_Ctg}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Escalated">
          <th mat-header-cell *matHeaderCellDef> Escalated</th>
          <td mat-cell *matCellDef="let element"> {{element.Escalated}} </td>
        </ng-container>
      
       
        <ng-container matColumnDef="Ack">
          <th mat-header-cell *matHeaderCellDef>Ack </th>
          <td mat-cell *matCellDef="let element"> {{element.Ack}} </td>
        </ng-container>
      
  
        <ng-container matColumnDef="Ack_By">
          <th mat-header-cell *matHeaderCellDef>Ack_By</th>
          <td mat-cell *matCellDef="let element"> {{element.Ack_By}} </td>
        </ng-container>
        <ng-container matColumnDef="Recieved">
          <th mat-header-cell *matHeaderCellDef>Recieved </th>
          <td mat-cell *matCellDef="let element"> {{element.Recieved}} </td>
        </ng-container>
  
        <ng-container matColumnDef="Priority">
          <th mat-header-cell *matHeaderCellDef>Priority</th>
          <td mat-cell *matCellDef="let element"> {{element.Priority}} </td>
        </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
  
