<app-navbar></app-navbar>
<div class="container allMessage">
    <mat-card>
    <mat-card-header>
        <mat-card-title class="form-elements allMessage" >Add Alert</mat-card-title>
    </mat-card-header>

          <div>
            <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
                <mat-label>A/C Reg </mat-label>
                <input matInput [(ngModel)]="messages.aircraftRegistration">
              </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
                <mat-label>Flight </mat-label>
                <input matInput  [(ngModel)]="messages.flight">
              </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Desk</mat-label>
            <input matInput  [(ngModel)]="messages.desk">
          </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="outline"  floatLabel="always" class="form-elements allMessage">
            <mat-label>Desk Ctg</mat-label>
            <input matInput  [(ngModel)]="messages.deskCategory">
          </mat-form-field>
    </div>
     <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Escalated</mat-label>
            <input matInput  [(ngModel)]="messages.escalated">
          </mat-form-field>
     </div>
      <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Ack</mat-label>
            <input matInput  [(ngModel)]="messages.acknowledge">
          </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Ack By</mat-label>
            <input matInput  [(ngModel)]="messages.acknowledgedBy">
          </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Received</mat-label>
            <input matInput  [(ngModel)]="messages.received">
          </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline" floatLabel="always" class="form-elements allMessage">
            <mat-label>Priority</mat-label>
            <input matInput  [(ngModel)]="messages.priority">
          </mat-form-field>
      </div>
          <br>
          <div class="form-elements allMessage button-size">
            <button mat-raised-button class="button-class" style="color: white; background-color: black;" type="button" (click)="addData()">Save</button>
          </div>
    </mat-card>    
</div> 
