<mat-toolbar class="nav">
    <a mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/home-page">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a>
    <span style="text-align: center;padding-left: 540px;">Alert Messenger</span>
    <span class="example-spacer"></span>
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon" routerLink="/user-page">
        <mat-icon>notifications</mat-icon>
      </a>
      <a mat-icon-button title="Logout" class="example-icon favorite-icon" (click)="logOut()" aria-label="Example icon-button with heart icon">
        <mat-icon aria-hidden="false" aria-label="Example home icon">logout</mat-icon>
      </a>
  </mat-toolbar>

<div>
    <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <h1 style="text-align: center; justify-content: center;">Notifications</h1>
        </mat-card-header>
        <mat-card-content>
            <div>
              <a mat-raised-button routerLink="/user-page">
                View All Messages
              </a>
            </div>  
          </mat-card-content>
          <div class="content">
            <div *ngFor="let msg of notification.msg">
              {{msg}}
            </div>
          </div>
      </mat-card>
</div>

