table{
    width:100%;
}
.allMessage{
    padding:20px;
}
.button-class{
   background-color: white;
    color: black;
    position: absolute;
    margin-top: 10px;
    margin-left: 1100px;
}
.clickable{
    cursor: pointer;
}
