table{
    width:100%;
}
.allMessage{
    padding:20px;
}
.button-class{
   background-color: white;
    color: black;
    position: absolute;
    margin-top: 10px;
    margin-left: 1350px;
}
.edit-label{
    margin:10px;
    width:180px;
}
.footer{
    margin-left: 500px;
    margin-bottom: 15px;
    float:right;
    position: fixed;
    bottom: 0; 
}
.clickable{
    cursor: pointer;
}
.page{
    position:absolute;
    margin-right: 30px;
    background-color: transparent;

}
.alignment{
    display: flex;
}
