<app-widget-navbar></app-widget-navbar>

<div class="container allMessage posture">
    <a mat-raised-button class="button-class"  routerLink="/add-widget">+ Add Widget</a>
    <mat-form-field style="margin-top: 10px; background-color: transparent; padding: 10px; height:2px"> 
      <input class="page" (keyup)="applyFilter($event.target.value)" matInput>
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    </div>
<div class="container allMessage">

<mat-table [dataSource]=dataSource class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="widgetName">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Widget Name </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.widgetName}} </mat-cell>
      </ng-container>
    
      <ng-container matColumnDef="widgetTag">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Widget Tag </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.widgetTag}} </mat-cell>
      </ng-container>
    
    
      <ng-container matColumnDef="widgetStatus">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Widget Status </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.widgetStatus}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="widgetSize">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Widget Size </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.widgetSize}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef mat-sort-header> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
        </ng-container>
  
        <ng-container matColumnDef="Action">
          <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <a mat-icon-button [routerLink]="['/edit-widget',element.widgetId]">
              <mat-icon>edit</mat-icon>
            </a>
          </mat-cell>>
        </ng-container>

        <ng-container matColumnDef="Delete">
          <mat-header-cell *matHeaderCellDef>Delete</mat-header-cell>
          <mat-cell *matCellDef="let element;"> 
              <a mat-icon-button (click)="Del(element.widgetId)">
                <mat-icon>delete</mat-icon>
            </a>
          </mat-cell>>
        </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row  *matRowDef="let row; columns: displayedColumns;">
    </mat-row>>

  </mat-table>
</div>
<!-- <app-paginator-widget></app-paginator-widget> -->
<div class="container allMessage">
<mat-paginator class="page" [pageSizeOptions]="[5, 10, 20]" [pageSize]="5"
showFirstLastButtons
aria-label="Select page of periodic elements">
</mat-paginator>
</div>