table{
    width:20%;
}
.page{
    position:absolute;
    margin-right: 30px;
    background-color: transparent;

}
.posture{
    display: inline;
}
.allMessage{
    padding:20px;
}
.alignment{
    display: flex;
}
.button-class{
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 10px;
    margin-left: 1180px;
}
.clickable{
    cursor: pointer;
}
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
.demo-row-is-clicked {
    font-weight: bold;
  }