table{
    
    width:20%;
    margin:20px;
}
@media screen and (max-width: 400px) {
    .column{
      width: 100%;
      flex-wrap: wrap;
    }
}
.div{

    width:fit-content;
    overflow-x:auto;
}
.page{
    position:absolute;
    margin-right: 30px;
    background-color: transparent;

}
.footer{
        margin-left: 75vh;
        margin-bottom :1vh;
        float:right;
        position: fixed;
        bottom: 0;     
}
.edit-label{
    margin:10px;
    width:180px;
}
.posture{
    flex-wrap: wrap;
}
.allMessage{
    padding:20px;
}
.alignment{
    display: flex;
    flex-wrap: wrap;
}
.button-class{
    background-color: white;
    color: black;
    position: absolute;
    margin-top: 10px;
    margin-left: 1330px;
}
.clickable{
    cursor: pointer;
}
.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
.demo-row-is-clicked {
    font-weight: bold;
  }