.button-class{
    background-color: white;
    color: black;
    margin-right: 20px;
    height:300px;
    width:300px;
    border-radius: 8px;
}
.example-spacer {
    flex: 1 1 auto;
  }
.nav{
    background-color: gray;
    color: beige;
}
.button-size{
    justify-content: center;
    padding-left: 185px;
}
.form-elements{
    width:350px;
    height:1px;
   display: flex;
}
.allMessage{
    padding:30px;
}
.div-format{
    margin-top: 155px;
    margin-left: 20%;
    display: flex;
    opacity: 0.9;
    background-color: gray;
    height:200px;
    width:800px;
    justify-content: center;
    padding-top: 100px;
    border-radius: 15px;
}
.landing{
    margin-top: 1px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height:100%;
}
.widget_redirect{
    margin-right: 20px;
    border-radius: 10px;
    background-color: gray;
    margin-bottom: 70px;
    border-color: white;
    border-width: 5px;
}
.alert_redirect{
    margin-left: 20px;
    border-radius: 10px;
    background-color: gray;
    margin-right: 40px;
    margin-bottom: 70px;
    border-color: white;
    border-width: 5px;
}

.matw,.mata{
    width: 350px;
    height: 250px;
    margin-top: 10px;
    margin-right: 5px;
    text-align: center;
    justify-content: center;
    background-color: rgb(131, 130, 130);
    color: white;
    
}