
.nav{
    background-color: gray;
    }


.landing{
    display: flex;
    align-items: center;
    justify-content: center;
    height:100%;
}



.button-widget,.button-alert{
    width: 350px;
    height: 250px;
    margin-top: 10px;
    margin-right: 40px;
    text-align: center;
    justify-content: center;
    background-color: rgb(202, 161, 161);
    color: white;
    border-width:5px ;
    margin-bottom: 70px;
    border-radius: 10px;
    margin-left: 20px;
}
.button-widget:hover,.button-alert:hover
{
     box-shadow:  -5px 5px 15px black; 
     text-shadow: -5px 5px 5px black;
}