
<mat-toolbar class="nav">
    <span style="text-align: center;padding-left: 450px;color:white;">Alert Messenger and Widget Manager </span>
</mat-toolbar>

<div class="landing">

    
        <!-- <mat-card class="alert_redirect">
            <mat-card-title>Alert Messenger</mat-card-title>
            <mat-card-actions style="justify-content: center;">
                <br> -->
              <a class="button-alert" mat-raised-button  style="color:white; background-color: gray" routerLink="/card-component">Alert Messenger</a>
            <!-- </mat-card-actions>
        </mat-card> -->
    


    <!-- <mat-card class="widget_redirect"> -->
        <!-- <mat-card-title>Widget Manager</mat-card-title>
        <mat-card-actions style="justify-content: center;">
            <br> -->
          <a class="button-widget" mat-raised-button style="color:white;background-color: gray;" routerLink="/card-widget">Widget Manager</a>
        <!-- </mat-card-actions> -->
    <!-- </mat-card> -->


</div>