
<mat-toolbar class="nav">
    <a mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" routerLink="/home-page">
      <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    </a>
    <span style="text-align: center;padding-left: 540px;">Widget Manager</span>
    <span class="example-spacer"></span>
    
    <a mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>account_circle</mat-icon>
    </a>
  </mat-toolbar>
