<app-navbar></app-navbar>
<div class="container allMessage">
    <mat-card>
    <mat-card-header>
        <mat-card-title style="justify-content: center;"class="form-elements allMessage">Add New Message</mat-card-title>
    </mat-card-header>
        <div>
                <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                    <mat-label>A/C Reg </mat-label>
                    <input matInput [(ngModel)]="messages.AC_Reg">
                  </mat-form-field>
        </div>
        <br>
        <div>
                <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                    <mat-label>Flight </mat-label>
                    <input matInput [(ngModel)]="messages.Flight">
                  </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Desk</mat-label>
                <input matInput [(ngModel)]="messages.Desk">
              </mat-form-field>
        </div>
        <br>
        <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Desk Ctg</mat-label>
                <input matInput [(ngModel)]="messages.Desk_Ctg">
              </mat-form-field>
        </div>
        <br>  
         <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Escalated</mat-label>
                <input matInput [(ngModel)]="messages.Escalated">
              </mat-form-field>
         </div> 
         <br>
          <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Ack</mat-label>
                <input matInput [(ngModel)]="messages.Ack">
              </mat-form-field>
          </div>
          <br>
          <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Ack By</mat-label>
                <input matInput [(ngModel)]="messages.Ack_By">
              </mat-form-field>
          </div>
          <br>
          <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Received</mat-label>
                <input matInput [(ngModel)]="messages.Recieved">
              </mat-form-field>
          </div>
          <br>
          <div>
            <mat-form-field appearance="outline" class="form-elements allMessage" floatLabel="always">
                <mat-label>Priority</mat-label>
                <input matInput [(ngModel)]="messages.Priority">
              </mat-form-field>
          </div>
          <br>
          <div class="form-elements allMessage button-size">
            <button mat-raised-button class="button-class" style="color: white; background-color: black;" type="button" (click)="addData()">Save</button>
          </div>
    </mat-card>    
</div> 
